torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
opencv-python-headless
Pillow
scikit-learn
langchain
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
evaluate
sacrebleu
rouge_score
sentence-transformers
streamlit
streamlit-agraph
openai-whisper
moviepy
fpdf
numpy<2
